.navbar-main {
  padding: 16px 32px;
  background-color: aliceblue;
}

.navbar-main a {
  margin-right: 20px;
}

.products a {
  margin: 20px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}
